
   * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
   }

   body {
     color: black;
     
     font-family: sans-serif;
     display: flexbox;
     justify-content: center;
     
   }


   .container {
     background: #ad3126;
     max-width: 700px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     padding: 50px;
     border-radius: 25px;
     

   }

   .title {
     text-align: center;
   }

   .title span {
     color: #F2EBD3;
   }

   .status-action {
     margin-top: 25px;
     font-size: 25px;
     display: flex;
     justify-content: space-around;
     height: 30px;
     
   }

   .status span {
     color: white;

   }

   .reset {
     cursor: pointer
   }

   .reset:hover {
     color: #F2EBD3;
   }

   .game-grid {
   background: rgb(128, 13, 13);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-gap: 15px;
   margin-top: 50px;
   }

   .cell {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 200px;
     width: 200px;
     background: #ad3126;
     
     cursor: pointer;
   }

   .x::after {
     content: '✗';
     font-size: 200px;

   }

   .o::after {
     content: '❍';
     color: #F2EBD3;
     font-size: 200px;
   }